@font-face {
    font-family: 'Passion One';
    src: url('./assets/fonts/PassionOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Passion One';
    src: url('./assets/fonts/PassionOne-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Passion One';
    src: url('./assets/fonts/PassionOne-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

* {
    font-family: "roboto", sans-serif;
    font-optical-sizing: auto;
}

.mainTitle {
  font-family: "Passion One", sans-serif;
  font-size: 3.5rem;
  color: #000000;
  text-align: center;
}

.subTitle {
  font-family: "Passion One", sans-serif;
  font-size: 2rem;
  color: #000000;
}

  .projet {
    font-family: "Passion One", sans-serif;
  font-size: 2rem;
  color: #000000;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }


.simple-loader {
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255, 255, 255, 0.3); /* Light border */
    border-top: 3px solid rgb(71, 68, 222); /* Darker top border */
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .alert {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid;
    border-radius: 0.5rem;
    transition: opacity 2s ease-in-out; /* Transition for opacity */
  }
  
  .opacity-100 {
    opacity: 1;
  }
  
  .opacity-0 {
    opacity: 0;
  }